/*
https://fonts.google.com/specimen/Press+Start+2P?sidebar.open=true&selection.family=Press+Start+2P
*/
@font-face {
    font-family: 'Press Start 2P';
  src: url('PressStart2P-Regular.ttf') format('truetype')
 }

 @font-face {
     font-family: 'CampusA';
   src: url('Campus A.ttf') format('truetype')
  }
  @font-face {
      font-family: 'RobotoThin';
    src: url('Roboto-Thin.ttf') format('truetype')
   }

   @font-face {
       font-family: 'RobotoBlack';
     src: url('Roboto-Black.ttf') format('truetype')

    }


    @font-face {
        font-family: 'Roboto-Light';
      src: url('Roboto-Light.ttf') format('truetype')

     }



tr,td {

  text-align: left
  }
body
{
  font-size: 125%;
}
.heading a,
{
  float:left;
  padding-right: 1rem;
  /*font-family: 'Press Start 2P';*/
font-family: 'RobotoBlack';

    font-size: 2rem;
}


.heading a
{
  float:left;
  padding-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  font-family: 'RobotoBlack';
  font-size: 2rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.list ul li{
  display: block;
  clear:both;
  padding-bottom:1.5rem
}
a
{


  font-family: 'RobotoThin';
    font-size: 1.5rem;

}

.pageSeparator
{
  height:1px;
  background-color: lightgray;
  width: 100%;
}

.sectionpadding
{

display: block;
padding:1rem;
}

.section
{
  clear:both;
  padding-top:0.2rem;
  padding-left:2rem;
}

body
{
  margin:0px;
}
h1
{
  /*float:clear !important;
  clear:both;*/
    font-family: 'RobotoBlack';
    font-size:2rem;

}
h2
{
    font-family: 'Roboto-Light';
  /*font-family: 'Press Start 2P';*/
    font-size: 1.2rem;
}

.background
{
  padding:1rem;
  margin-bottom: 1rem;
}
.content
{

    margin:0.5rem;
    padding: 1rem;

    background-color: rgba(255, 255, 255, 0.8);

}
html
{
  font-size:100%;
}

.right
{
  float:right;
  padding-bottom:2rem;
  display: block;
}
.divider
{
  margin-top: 15px;
}


    .space {
        background-image: url('/space.jpeg');
        background-repeat: repeat-y;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height:100%;
        }
